@model FypProject.Models.LoginVM

@{
    Layout = "";
    ViewBag.Title = "Log in";
}

<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>FYP :: Sign In</title>
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="~/Content/images/favicon.png" )">
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/FrontEnd/Login/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/FrontEnd/Login/css/style.min.css">
    <style>
        .authentication .auth_form {
            background-color: #fff;
            box-shadow: 0 0 12px 9px rgba(41,42,51,0.06), 0px 8px 9px 13px rgba(41,42,51,0.02);
        }
    </style>
</head>
<body class="theme-blush">
    <div class="authentication">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <form class="card auth_form" method="post" action="login?returnUrl=@ViewBag.ReturnUrl">
                        <div class="header">
                            @*<img class="logo" src="@Url.Content("~/Content/images/logo.jpg")" alt="">*@
                            <h5>Sign In</h5>
                        </div>

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


                        <div class="body">
                            <div class="input-group mb-3">
                                @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", placeholder = "Username" })
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                @*<input type="text" class="form-control" placeholder="Password">*@

                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                <div class="input-group-append">
                                    <span class="input-group-text"><a class="forgot" title="Forgot Password"><i class="zmdi zmdi-lock"></i></a></span>
                                </div>
                            </div>
                          
                            @*<a  class="btn btn-primary btn-block waves-effect waves-light">SIGN IN</a>*@

                            <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">SIGN IN</button>

                        </div>
                    </form>
                    <div class="copyright text-center">
                        &copy; @DateTime.Now.Year

                        @*<a href="http://www.iciltek.com/" target="_blank">Developed by ICILtek</a>*@
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="card">
                        <img src="~/FrontEnd/Login/images/signin.svg" alt="Sign In" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery Core Js -->
    <script src="~/FrontEnd/Login/bundles/libscripts.bundle.js"></script>
    <script src="~/FrontEnd/Login/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
</body>

</html>
