@model FypProject.Models.ReportVM
@{
    ViewBag.Title = "InventoryReport";
}
<h2>SalesReport</h2>

<div class="card card-success">

    @using (Html.BeginForm("SalesReport", "Report", FormMethod.Post, new { role = "form", target = "_blank" }))
    {
        @Html.AntiForgeryToken()

        <div class="card-header">
            <h4>Sales Report</h4>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card-body">
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FromDate, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FromDate, "{0:dd-MM-yyyy}", new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ToDate, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ToDate, "{0:dd-MM-yyyy}", new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.FranchiseId, new { @class = "control-label" })
                    <br />
                    @Html.DropDownListFor(m => m.FranchiseId, Model.FranchiseList as SelectList, "Select Franchise", new { @class = "form-control chosen-select" })
          
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="form-group">
                    <div class="btn-group " role="group">
                        <button type="submit" name="type" value="Summary Report in PDF" class="btn btn-success"><i class="fas fa-file-pdf"></i> Ssles Report</button>

                    </div>
                </div>
            </div>
        </div>
    }
</div>



@section Styles{
    @Styles.Render("~/Content/chosen")
    <style type="text/css">
        .chosen-container.chosen-container-single {
            width: 300px !important;
        }

        #FromDate, #ToDate {
            cursor: pointer;
        }

           .chosen-container.chosen-container-single {
            width: 350px !important;
        }
    </style>

}

@section Scripts {

    @Scripts.Render("~/bundles/chosen")
 


    <script type="text/javascript">


        $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select)" });
        $(".chosen-select").chosen();

        $(function () {
            $('#FromDate').val('');
            $('#ToDate').val('');
        })



    </script>

}


