@model FypProject.Models.EditCategoryVM

@{
    ViewBag.Title = "Edit";
}

 


@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{


    <section class="section">

        <div class="card">

            <div class="card-header">
                <h4>Edit Category</h4>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        @Html.HiddenFor(m => m.CategoryId)
                        <div class="form-group">
                            @Html.LabelFor(m => m.CategoryName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>



                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-warning" value="Create" />
                    </div>
                </div>
            </div>
        </div>
    </section>


}


@section Styles{
    @Styles.Render("~/Content/chosen")
    <style type="text/css">
        .chosen-container.chosen-container-single {
            width: 350px !important;
        }
    </style>
}




@section Scripts {

    @*@Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/chosen")
    @*@Scripts.Render("~/bundles/jqueryval")*@

    <script type="text/javascript">


    </script>

}








